<template>
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <nuxt-link to="/"
                   class="navbar-item logo_item">
          <img src="~/assets/logotipo-black.svg"
               alt="Plantilla de dinamo" />
        </nuxt-link>
        <div class="navbar-burger burger"
             @click="menuStatus = !menuStatus">
          <span /> <span /> <span />
        </div>
      </div>
      <div :class="['navbar-menu', menuStatus ? 'is-active' : '']">
        <div class="navbar-start">
          <nuxt-link to="/"
                     class="navbar-item">
            Index
          </nuxt-link>
        </div>
        <div class="navbar-end">
          <nuxt-link to="/demo"
                     class="navbar-item">
            Demo
          </nuxt-link>
        </div>
      </div>
    </div>
  </nav>
</template>
<script>
/**
 * Header de bulma
 *
 * @version 1.0
 */
export default {
  name: 'TheHeader',
  data: () => ({
    /**
     * Abrir o cerrar el menu mobil
     */
    menuStatus: false,
  }),
  watch: {
    $route() {
      if (this.menuStatus) {
        this.menuStatus = false
      }
    },
  },
}
</script>

<docs>
  ```jsx
  <the-header></the-header>
  ```
</docs>
