<template>
  <main v-once
        class="page--aviso-privacidad section">
    <!-- eslint-disable max-len -->

    <div class="content has-text-justified is-relative">
      <nuxt-link
        class="logo-link"
        to="/">
        <img class="logo-back"
             src="~/assets/mitsubishi_motors_logo.svg"
             alt="Mitsubishi Samurai Universidad">
      </nuxt-link>
      <!-- <div class="" /> -->
      <h1 class="title is-clearfix">
        AVISO DE PRIVACIDAD
      </h1>
      <p>Fecha de última modificación: 31 de agosto de 2016</p>
      <p>Mitsubishi Universidad, ("nosotros"), sociedad mercantil, debidamente constituida de conformidad con la legislación mexicana, con domicilio en Calle Av. Universidad 601, Colonia Del Valle Del. Benito Juarez, C.P. 03100, México, , es la entidad responsable del tratamiento, uso y protección de sus datos personales. Consecuentemente ponemos a su disposición este Aviso de Privacidad (el “Aviso”) de conformidad con la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, su reglamento y demás disposiciones aplicables (la "Ley”).</p>
      <p>Este Aviso le interesa si usted: </p>
      <p>1.	Visita, o proporciona información en la página web de Mitsubishi Universidad (mitsubishiuniversidad.com.mx); </p>
      <p>2.	Utilizan nuestras páginas oficiales en redes sociales y las apps que de tiempo en tiempo podamos lanzar al mercado o poner a disposición de nuestros clientes (los anteriores, conjuntamente, nuestra "Propiedad Digital"); lo anterior, siempre y cuando dicha Propiedad Digital establezca la aplicabilidad del presente Aviso. </p>
      <p>3.	Hace entrega a nosotros de sus datos personales mediante los servicios de soporte y atención telefónica (también conocido como call center).</p>
      <p>4.	Asiste a nuestras oficinas e instalaciones, la aplicación del presente Aviso incluirá a aquellas personas de las que les sean obtenidos sus Datos Personales mediante los sistemas de captación de datos audiovisuales como lo son los sistemas de cámaras de circuito cerrado y otros similares o porque nos proporcionen sus datos directamente. </p>
      <p>A las personas referidas en los incisos 1 a 4 anterior, se les denominará conjuntamente los "clientes" o "usted".</p>
      <p>El presente Aviso detalla sus derechos y la forma en que nosotros, nuestras afiliadas y subsidiarias utilizan sus datos personales. Por favor revise cuidadosamente el contenido del presente Aviso.</p>
      <p>Nosotros nos comprometemos a tratar sus datos personales conforme a los principios de licitud, calidad, consentimiento, información, finalidad, lealtad, proporcionalidad y responsabilidad establecidos en la Ley.</p>
      <p>Ejercicio de sus derechos ARCO. Usted goza, en todo tiempo, del derecho de solicitar el acceso a sus datos personales y/o la rectificación de los mismos; asimismo, usted podrá solicitar que sus datos sean cancelados, oponerse a que se traten los datos para fines específicos y/o revocar el consentimiento que previamente nos haya otorgado (los derechos de acceso, rectificación, cancelación, oposición y/o revocación de sus datos personales antes descritos, se les denominará como sus "Derechos ARCO"). Por favor considere que sus Derechos ARCO están sujetos a las limitaciones que establecen las leyes y que, por lo tanto es posible que, en algunos casos, su solicitud no resulte procedente.</p>
      <p>Para el ejercicio de sus derechos, usted deberá presentar una solicitud, ya sea por correo electrónico a telemarketing.asu@grupoautofin.com o nuestro domicilio en un horario de 9:00 a 17:00 horas, en atención a Mitsubishi Universidad. Usted podrá hacerlo de manera personal, presentando original de su identificación oficial, o en el caso de que actúe a través de representante legal, deberá presentar original de la escritura pública que acredite sus facultades. Si usted se encuentra fuera de la Ciudad de México, podemos, por excepción, permitirle hacernos llegar por correo electrónico copia de sus documentos de identificación o aquellos necesarios para acreditar su personalidad; sin embargo, es posible que le requiramos copias de otros documentos o bien que le requiramos que nos envíe copia del original de dichos documentos, o que utilicemos otros mecanismos de autenticación que pudieran estar disponibles, para verificar de manera fehaciente que usted es quien dice ser.</p>
      <p>Podremos brindarle acceso a los datos personales que, en su caso, tengamos, ya sea brindándole una copia de la información o facilitándole el acceso a la información en un equipo o por cualquier otro mecanismo establecido en la Ley. </p>
      <p>Dicha solicitud deberá contener por lo menos:</p>
      <p>•	Nombre del titular de los datos personales;</p>
      <p>•	Domicilio, teléfono y correo electrónico al cual le comunicaremos la respuesta a su solicitud;</p>
      <p>•	Descripción clara y precisa de los datos personales respecto de los que se solicita ejercer alguno de los derechos mencionados en esta sección; y</p>
      <p>•	Cualquier otro elemento que facilite la localización de sus datos personales.</p>
      <p>Nosotros le daremos respuesta a su solicitud en un plazo de veinte días, a través de los medios proporcionados por usted, pudiendo ser correo electrónico o a su domicilio. En adición a lo anterior, le podremos informar: (i) la información que se le solicitará para que se identifique así como los documentos que necesitará enviar junto con su solicitud; (ii) los plazos en los que recibirá una contestación sobre su solicitud; (iii) cómo debe presentar su solicitud, y; (iv) la modalidad o medio en que le entregaremos la información. Sus solicitudes serán evaluadas en los términos establecidos en la Ley y otras obligaciones aplicables.</p>
      <p>Los datos personales que podríamos recabar de usted son: </p>
      <p>1.	De identificación en general: Aquellos necesarios para diferenciarlo de otras personas. Pueden incluir: su nombre completo, fecha de nacimiento, nacionalidad, género, imagen física por fotografía y/o videograbación dentro de nuestras instalaciones o en eventos organizados por nosotros.</p>
      <p>2.	Para contactarle: Información para mantener el contacto con usted. Pueden incluir: su domicilio, número de teléfono particular o número telefónico fijo y/o móvil, correo electrónico, nombres de usuario de redes sociales para efectos de contactarle (por su cuenta de Facebook, Twitter, Instagram, Foursquare, Swarm y/o Google+).</p>
      <p>3.	Patrimonial o financiero: Relacionados a los bienes o derechos de las personas o de su situación patrimonial. Pueden incluir: resultados de estudios socio-económicos, número de cuentas bancarias, monto de ingresos (por conceptos de nómina o contraprestación), seguros, administradoras de fondos para el retiro, resultados y anotaciones en burós de crédito, información de activos, declaraciones de impuestos, y otros.</p>
      <p>4.	Electrónicos: Incluye datos suyos o de sus dispositivos que son obtenidos cuando accede a nuestra Propiedad Digital, así como registros de imágenes y/o voz obtenidos a través de cámaras de circuito cerrado y otros similares, que son obtenidos cuando visite alguna de nuestras instalaciones.</p>
      <p>Las maneras de obtener sus datos personales pueden ser a través de diversos medios:</p>
      <p>1.	Directamente de usted. Cuando nos proporciona sus datos en alguno de nuestros establecimientos.</p>
      <p>2.	A través de otros medios ópticos, eléctricos o digitales.  Cuando nos proporciona sus datos vía telefónica, correo electrónico y/o cuando su imagen o voz son captadas por nuestras cámaras de circuito cerrado y otros similares.  Asimismo cuando obtenemos información de usted de manera automática, a través de Cookies, Web Beacons u otras tecnologías de rastreo, ya sea de manera directa o a través de algún tercero.</p>
      <p>Los datos obtenidos de manera automática pueden ser: (a) de dispositivos que usted usa (identificador, tipo de dispositivo e identificador de publicidad); (b) de geolocalización (ubicación). Si no desea compartir esta información puede no hacerlo configurándolo así en su dispositivo; (c) del equipo utilizado y la conexión (estadísticas de las páginas vistas, tráfico de sitios web, URL de referencia, los anuncios, dirección IP, historial y su registro web).</p>
      <p>Una cookie son datos que se almacena en el disco duro al navegar en nuestros Sitios web. En ocasiones también utilizamos otro tipo de tecnología de rastreo llamada web beacons. Las Cookies y Web beacons permiten el intercambio de "información de estado" entre nuestros Sitios web y el navegador de su dispositivo. La "información de estado" puede proporcionarnos la información a la que hacemos referencia en el inciso anterior, de manera automática. En general, utilizamos las cookies, los web beacons y dispositivos de rastreo similares para lo siguiente: (a) facilitar la administración de nuestros Sitios web; (b) facilitar la navegación de los usuarios a través de nuestros Sitios; (c) reconocer a los usuarios y personalizar su visita en los Sitios web; (d) determinar qué correos han sido abiertos por los usuarios.</p>
      <p>Su navegador aceptará las cookies y permitirá la recolección automática de información a menos que usted cambie la configuración predeterminada. Puede ajustar su navegador para que rechace o elimine cookies. Por favor considere que en caso de que usted inhabilite las cookies su experiencia de navegación podría quedar limitada. </p>
      <p>3.	A través de otras fuentes:</p>
      <p>•	De terceros. Información geográfica de fuentes públicas, de contacto, de verificación de crédito e información de agencias de información de crédito.</p>
      <p>•	Redes Sociales. Al entrar y registrarse en nuestros Sitios web y Propiedad Digital mediante sus redes sociales (Facebook, Twitter, Instagram, etc.) (una "Red Social"), su Red Social nos compartirá información suya. Su Red Social nos otorgará acceso a información generada y compartida por usted.  Estos sitios nos dan de manera automática ciertos datos personales que mantienen sobre usted. Usted puede controlar los datos personales a los que podemos tener acceso a través de cada una de sus Redes Sociales mediante las opciones de privacidad y establecer los permisos que determine.</p>
      <p>•	Que terceros nos proporcionan.  En caso de que proporcione información sobre terceros hágalo siempre que cuente con el consentimiento de esa persona. </p>
      <p>Por favor tome en cuenta que nosotros no recabamos datos personales sensibles tales como religión, estado de salud, preferencia sexual, opiniones políticas y datos semejantes. Le rogamos que no nos haga llegar datos de esta naturaleza. En caso de que usted voluntariamente nos proporcione este tipo de información y nosotros los recibamos o registremos en nuestros sistemas, sólo usaremos dicha información en la medida que resulte esencial para poder darle curso a la solicitud o servicio que se haya solicitado.</p>
      <p>Aunque las finalidades pueden variar de conformidad con la relación jurídica entre usted y nosotros, en general, sus datos personales serán tratados para las finalidades que se indican a continuación. A nuestra consideración, todas estas finalidades resultan necesarias para que nosotros podamos mantener y cumplir con la relación jurídica que sostenemos con usted:</p>
      <p>A.	Proveerle del bien y/o servicio que solicite.</p>
      <p>B.	Hacer válida la garantía de su vehículo o de las partes, refacciones y accesorios.</p>
      <p>C.	Informarle acerca de llamados a revisión de su vehículo y otras comunicaciones relacionadas con la compra que usted hizo de su vehículo o de los servicios de garantía. </p>
      <p>D.	Mantener actualizados nuestros registros a fin de poder responderle a sus consultas.</p>
      <p>E.	Para la realización de encuestas de satisfacción de clientes.  </p>
      <p>F.	Prospección comercial y análisis estadísticos y de mercado. </p>
      <p>G.	Mantener la seguridad de nuestras instalaciones e infraestructura a través de nuestros sistemas de prevención, detección y video vigilancia, ya sea para verificar el cumplimiento de nuestras políticas internas de la Ley, y asegurar nuestra operación normal y seguridad, así como de las personas que se encuentren dentro de nuestras instalaciones.</p>
      <p>H.	Realizar actividades de mercadeo y promoción en general.</p>
      <p>I.	Ofrecerle nuestros productos, servicios e información así como de terceros socios comerciales.</p>
      <p>Usted no está obligado a recibir nuestra publicidad o aquella de nuestros socios comerciales. Se hace notar que las finalidades “H” e “I” referidas no son necesarias para que podamos mantener o cumplir nuestra relación jurídica con usted. Por ello, antes de enviarle publicidad nuestra o de nuestros socios comerciales, pondremos a su disposición un mecanismo que le permita manifestar su negativa para que le hagamos llegar esa información. Asimismo, usted puede en todo momento manifestarnos su decisión de oponerse a que tratemos esos datos para ese fin o bien revocar el consentimiento que previamente nos haya otorgado, enviando un correo al distribuidor de que se trate. </p>
      <p>Recuerde que el hecho de que usted decida que no utilicemos sus datos personales para esto es su derecho, por lo que no habrá, en ningún motivo acciones disciplinarias o algún tipo de represalia.</p>
      <p>Este Aviso de Privacidad no será aplicable cuando usted decida proporcionar sus datos personales a un tercero, incluyendo, las armadoras, socios comerciales o su Red Social. Estos terceros cuentan con sus propias políticas y le harán saber los términos de las mismas al presentarle el correspondiente aviso de privacidad. </p>
      <p>Nosotros podemos transferir sus datos personales a terceros para los fines establecidos en este Aviso. Estas transferencias se realizan para el mantenimiento o cumplimiento de la relación jurídica entre nosotros y usted. Sus datos personales podrán ser compartidos dentro o fuera del país con las siguientes personas, empresas, organizaciones o autoridades, incluyendo de manera enunciativa más no limitativa a nuestras compañías filiales, asociadas o subsidiarias, a FCA México, S.A. de C.V., a otros distribuidores de la red, al Registro Público Vehicular y en caso de que se tramite algún producto financiero para la compra de automóviles, a las entidades financieras que provean estos productos financieros o en su caso a FC Financial, S.A. de C.V., SOFOM, E.R. Sus datos personales podrán ser comunicados o transferidos a un tercero en ciertos casos; solamente transferiremos sus datos cuando contemos con su consentimiento o cuando éste no sea necesario para la transferencia en términos del artículo treinta y siete de la Ley. Usted acepta específicamente que sus datos sean transferidos a terceros en los siguientes casos: (i) cuando sus datos tengan que ser transferidos a alguna agencia o distribuidor con el fin prestar de algún servicio o producto que usted solicitó; (ii) cuando deba transferir los datos a las autoridades competentes, encargadas de la procuración de justicia cuando por mandato judicial así nos lo requieran; (iii) cuando los datos requieran ser transferidos a un tercero en el contexto de una transacción corporativa (incluyendo fusiones, adquisiciones, entre otras); En este último caso, las empresas que podrían recibir su información son los potenciales adquirentes y los asesores (legales, contables o financieros, entre otros) que participen en la transacción y únicamente comunicaremos sus datos personales a dichos terceros en la medida que dicha comunicación resulte necesaria para evaluar o completar la transacción.</p>
      <p>Sus datos personales no serán transferidos a terceros distintos a los antes señalados sin su consentimiento. En caso de ser necesaria la transferencia de sus datos personales a dichos terceros, le será proporcionado un formato o documento en el que se le solicite brindar de manera expresa su autorización para la transferencia.</p>
      <p>En general, cuando recabemos datos personales de usted con respecto a una finalidad que consideremos no es necesaria o esencial en el contexto de nuestra relación jurídica con usted, pondremos a su disposición un mecanismo que le permita manifestar su negativa para que tratemos sus datos para ese fin. Este mecanismo estará disponible antes de recabar sus datos y generalmente, será una casilla para que usted manifieste o no su consentimiento u opte manifestar su negativa para el tratamiento; asimismo, estos mecanismos estarán disponibles en todo momento, y para poder manifestar su negativa, bastará que usted formule su solicitud en términos de la cláusula anterior. </p>
      <p>Nosotros hemos implementando y mantenemos medidas de seguridad administrativas, físicas, y técnicas para proteger sus datos personales, contra daño, pérdida, alteración, destrucción o el uso, accesos o tratamiento no autorizado así como para mantenerlos de un modo correcto y actualizado para los fines que fueron recabados.</p>
      <p>Contáctenos</p>
      <p>Si usted tiene cualquier pregunta, comentario o queja respecto al presente Aviso de Privacidad, por favor envíe un correo electrónico a la dirección telemarketing.asu@grupoautofin.com.</p>
      <p>Ciudad de México, México</p>
      <p>Atención: Mitsubishi Universidad</p>
    </div>
  </main>
</template>

<script>
export default {
  name: 'PageAvisoPrivacidad',
}
</script>

<style lang="scss">
.logo-link {
  display: block;
  float: right;
  margin-top: -2rem;
}

.logo-back {
  height: 5rem;
}
</style>
